{
  background-color:#ffc9ff
}

header{
  background-color:#daa520
}

footer{
  background-color:#000000
}

h1{
  color:#ffb6c1
}
body{
  
}

#banner{
      width:100%;
}

.principal{
        background:#CCCCCC;
        padding:30px;
}

.titulo-principal{
        padding-left:20px;    
}

.titulo-centralizado{
        text-align: center
}
 
p {
       text-align: center;
}

em strong {
       color: #000000;
}

.itens{
        font-style: italic
}

.beneficios{
        background: #ffc9ff;
        padding:20px;
}

ul{
      display:inline-block;
      vertical-align:top;
      width:20%;
      margin-right:15%;
}

.imagembeneficios{
      width:50%;
